@inject IJSRuntime JS
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MeNabung</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transaction">
                <span class="bi bi-bag-fill" aria-hidden="true"></span> Transaction
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="balance">
                <span class="bi bi-cash-coin" aria-hidden="true"></span> Balance
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <button class="nav-link btn btn-link text-start" @onclick="Logout">
                <span class="bi bi-box-arrow-left" aria-hidden="true"></span> Log Out
            </button>
        </div>
    </nav>
</div>

@code {
    private async Task Logout()
    {
        bool confirm = await JS.InvokeAsync<bool>("confirm", "Are you sure you want to log out?");
        if (confirm)
        {
            await JS.InvokeVoidAsync("localStorage.removeItem", "token");
            Navigation.NavigateTo("/login", forceLoad: true);
        }
    }
}