@page "/access-denied"

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Access Denied</h3>
        <p>You do not have permission to access this resource.</p>
        <a href="/">Go to Home</a>
    </div>
</div>