@page "/"
@using Microsoft.VisualBasic
@using System.Text.Json
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject HttpClient Http
@inject TokenService tokenService

<PageTitle>Home</PageTitle>

<div class="container mt-4 d-flex flex-column align-items-center">
    <h1>Hello Again, </h1>
    <h1 class="fw-bold mb-4">@nickname!</h1>
    <h4>Welcome to Menabung</h4>
</div>

@code {
    private string nickname = "Guest";
    @* check if user hasn't login, then navigated to login page *@
    protected override async Task OnInitializedAsync()
    {   
        try{
            await FetchNickname();
        }
        catch(Exception ex){
            Console.WriteLine($"Error during initialization: {ex.Message}");
        }
    }

    private async Task FetchNickname(){
        try{
            await tokenService.InitializeAsync();
            
            if(!string.IsNullOrEmpty(tokenService.UserId)){
                var userId = int.Parse(tokenService.UserId);
                var response = await Http.GetAsync($"user/{userId}");
                response.EnsureSuccessStatusCode();
                var json = await response.Content.ReadFromJsonAsync<JsonElement>();
                nickname = json.GetProperty("nickname").GetString() ?? "Guest";
            }
            else{
                Console.WriteLine("User ID not found in token service.");
                nickname = "Guest";
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching nickname: {ex.Message}");
            nickname = "Guest";
        }
    }
}